@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat;
}

#title {
  padding: 1% 7%;
}

.nav-item {
  padding: 10px;
}

.nav-link {
  letter-spacing: 1px;
}

.im {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  font-weight: bold;
  transform: translate(-50%, -50%);
}

.opa {
  opacity: 0.4;
}

/* #demo { */
   /* letter-spacing: 20px; */
   /* font-size: 40px; */
	 /* font-weight: bold; */
   /* color: red; */
   /* text-align: center; */
/* } */

#mid {
  text-align: center;
  position: relative;
  top: 50%;
}

#top {
  text-align: center;
  padding-top: 5%;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back.speakers {
  background-color: tomato;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back.previous_speakers {
  background-color: tomato;
  color: black;
  transform: rotateY(180deg);
}

#speakers {
	padding: 10% 3%;
}

#previous_speakers {
  padding: 5% 10%;
}

#other{
  margin: 0;
  /*height:300px;*/
  padding: 0;
  font-family: "montserrat",sans-serif;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-info{
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}


.card{
  z-index: 11;
  background:none;
  padding: 10px 10px;
  margin: 0 10px;
  width: calc(25% - 20px);
  height: calc(25% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  border-left:6px solid red;
  border-top:6px solid red; 
}

.card-icon{
  font-size: 28px;
  background: #ff6348;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card:hover{
  border-left:0;
  border-top:0;
  border-right:6px solid red;
  border-bottom: 6px solid red;
}

.card:hover .card-icon{
  background: none;
  color: #ff6348;
  transform: scale(1.6);
}

.card p{
  margin-top: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 12px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.card:hover p{
  max-height: 40px;
  opacity: 1;
}


@media screen and (max-width:900px) {
  .contact-info{
    flex-direction: column;
  }
  .card{
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}

.pad {
  margin: 60px;
}

.padd {
  margin: 30px;
}

#eandi {
  margin: 30px;
  border-radius: 100%;
}
